 body{
    font-family: 'Mukta', sans-serif;
 }

 #nav{
    width: 100%;
    margin: auto;
    z-index: 1;
    position: sticky;
    top: -45px;
    background-color: white;
 }
 #navtop{
    display: flex;
    width: 60%;
    margin: auto;
    margin-top: 10px;
 }
 #topleft{
    display: flex;
    width: 40%;
    margin-top: 5px;
 }
 #topright{
    margin-left: 160px;
    width: 25%;
    display: flex;
    justify-content: space-between;
    align-items: center;
 }
 .hyperlinks{
    color: #213343;
    text-decoration: none;
 }
 .hyperlinks:hover{
    color: teal;
    text-decoration: underline;
 }
 #logo{
    height: 80px;
 }
 .btn~p{
    margin-top: 1.5px;
 }
 pre,.btn~p{
    font-size: 13px;
    margin-right: 20px;
    margin-left: 15px;
    font-family: Arial, Helvetica, sans-serif;
 }
 li{
    list-style: none;
 }
 /* ---------------------------------------------drop down--------------------------------------------------- */
 
 #navbottom{
    position: relative;
 }
 .menudown{
    border-radius: 4px;
    position: absolute;
    height: 570px;
    width: 87%;
    top: 80px;
    left: 100px;
    background-color: #f6f9fc;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.3s linear;
    transition-delay: 0.1s;
 }
 .psize:hover .menudown{
    visibility: visible;
    opacity: 1;
 }
 .menudown2{
    border-radius: 4px;
    position: absolute;
    height: 350px;
    width: 50%;
    top: 80px;
    left: 350px;
    background-color: #f6f9fc;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.3s linear;
    transition-delay: 0.1s;
 }
 .psize:hover .menudown2{
    visibility: visible;
    opacity: 1;
 }
 .menudown2>div{
    margin-top: 20px;
    display: flex;
    justify-content: space-evenly;
 }
 .menudown2>div>div p{
    line-height: 35px;
    opacity: 90%;
    color: #213343;
    font-weight: 600;
 }
 .menudown2>div>div a{
    color: #213343;
    text-decoration: none;
    opacity: 85%;
    font-weight: 100;
    font-size: 17px;
 }
 .tinku{
    margin-left: 30px;
    margin-right: 30px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 20px;
    color: #213343;
    opacity: 95%;
 }
 .tinku>div{
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    padding: 18px;
    letter-spacing: 0.8px;
    line-height: 25px;
    background-color: white;
    border-radius: 6px;
 }
 .tinku>div>div{
    display: flex;
    align-items: center;
    font-size: 20px;
    font-weight: 600;
 }
 .minku{
    line-height: 30px;
    margin-top: 20px;
    margin-bottom: 40px;
    text-align: center;
    color: #213343;
    opacity: 95%;
 }
 .tinku>div a{
    text-decoration: none;
    color: #0b8484;
 }
 .minku button{
    font-size: 17px;
    color: #0b8484;
    padding: 20px 50px 20px 50px;
    background-color: white;
    border: 0px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border-radius: 5px;
    margin-top: 20px;
 }
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 i{
    font-size: 16px;
 }
 .psize{
    font-size: 18px;
 }
 .btn{
    width: 30px;
    height: 15px;
    border-radius: 12px;
    align-items: center;
    cursor: pointer;
    border: 2px solid black;
 }
 .btn div{
    margin-left: 2px;
    background-color: black;
    border-radius: 50%;
    height: 12px;
    width: 12px;
    transition: .5s;
    background-color: black;
 }
 .flex{
    display: flex;
 }
 #serachicon{
    color: rgb(0, 200, 200);
    margin-top: 5px;
 }
 
 #navbottom{
    display: flex;
    width: 70%;
    margin: auto;
    justify-content: space-evenly;
    margin-top: 10px;
    align-items: center;
 }
 
 #serachbar{
    border: none;
    padding: 4px;
 }
 
 #serachbar:focus{
    outline: 1px solid turquoise ;
    border-style: hidden;
    border-radius: 4px;
 } 
 
 
 
 
 .orangebtn{
    padding: 10px 35px 10px 35px;
    border: 0px;
    background-color: #ff5c35;
    color: white;
    border-radius: 4px;
    font-size: 15px;
    margin-right: 16px;
    font-weight: 700;
 }
 .orangebtn2{
    padding: 10px 35px 10px 35px;
    border: 1px solid #ff5c35;
    background-color: white;
    color: #ff5c35;
    border-radius: 4px;
    font-size: 15px;
    margin-right: 16px;
    font-weight: 700;
 }
 .orangebtn:hover{
    background-color: #ffc8ba;
    transition: 0.6s;
 }
 .orangebtn2:hover{
    background-color:#ffe4dd ;
    transition: 0.6s;
 }
 
 
 

#top_banner{
    background-color: #4DB6AC;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 80px;
    
}
#top_banner>h1,#top_banner>h2{
    color: white;
}
#free_btn{
    background-color: #417975;
    color: white;
    border: 0px;
    padding: 8px;
    border-radius: 15px;
}
.menu_bar{
    background-color: #006064;
    height: 100px;
    margin-top: -20px;
    align-items: center;
    justify-content: space-between;
    padding: 0 5%;
}
.menu_bar>ul{
    text-decoration: center;
    list-style: none;
    display: flex;
    padding-top: 15px;
    padding-bottom: 30px;
}
.menu_bar ul li{
    padding: 10px 30px;
}
.menu_bar ul li a{
    color:white ;
    text-decoration: none;
    font-size: 22px;
    transition: all 0.8s;
}
.menu_bar ul li a:hover{
    color: #1cd7de;
}
.dropdown_menu{
    display:none;
}

.menu_bar ul li:hover .dropdown_menu{
    display: block;
    position: absolute;
    left: 30;
    border: 1px solid black;
    background-color:white;
    border-radius: 10px;
}
.dropdown_menu ul{
    display: block;
    margin: 10px;
    list-style: none;
    padding-left: 0px;
    padding-right: 20px;
}
.dropdown_menu ul li{
    /* width: 150px; */
    padding: 10px;
}
.dropdown_menu ul li a{
color: black;
}
.why_hubspot{
    text-align: center;
}
.importance{
    display: flex;
    justify-content: space-evenly;
}
.imp_cards{
    width: 25%;
    padding: 80px 30px;
    text-align: left;
}
.imp_cards>p{
    font-size: 20px;
    color: grey;
    line-height:3ch
}
.why_hubspot>h1{
    margin-top: 100px;
}
.cert_cards{
   padding: 20px;
    padding-bottom: 10px;
    box-shadow: rgba(19, 126, 134, 0.4) 5px 5px, rgba(31, 136, 165, 0.3) 10px 10px, rgba(92, 198, 239, 0.2) 15px 15px, rgba(85, 211, 228, 0.1) 20px 20px, rgba(131, 220, 232, 0.05) 25px 25px;
    transition: 1s;
    border-radius: 8px;
    background-color: white;

}
.certification_box{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 70px;
    width: 70%;
    margin:auto;
    margin-top: 100px;
}
.hours{
    font-weight: bold;
    color: #2dcbd1;
    margin-left: 10px;
}
.lesson{
    display:inline;
}
.btn_cont{
    align-content: flex-end;
}
.btn{
    color: white;
    width:100%;
    height:40px;
    border-radius:5px;
    border: 0px;
    background-color: #006064;
    font-weight: bold;
    position: relative;
}
.cert_cards:hover{
    transform: scale(1.1);
}
.cert_cards:hover .btn {
    background-color: rgb(213, 105, 22);
    transition: 0.8s;
}
.cert_cards .btn:hover{
    background-color: pink;
}
.cont{
    background-color: #e4f0f0;
    padding-top: 50px;
    padding-bottom: 50px
}

.page_cont{
    width: auto;
    text-align: center;
    margin-top: 100px;
}
.page_cont>button{
    font-size: larger;
    margin-right: 10px;
    border: none;
    color: #006064;
    padding: 5px 8px;
    border-radius: 3px;
}
.page_cont>button:hover{
    background-color: #a8e4e6;
}
/* small screen*/
@media screen and (min-width: 350px) and (max-width: 649px){

    .certification_box{
        display: grid;
        grid-template-columns: repeat(1,1fr);
    }
    .menu_bar{
        display: none;
    }
    
}
/* small screen */
@media screen and (min-width: 650px) and (max-width: 1000px){
    .certification_box{
        display: grid;
        grid-template-columns: repeat(2,1fr);
    }
    .menu_bar{
        display: none;
    }

    
}
#footer{
    padding-top: 70px;
    margin-top: 70px;
    height: 70vh;
    background-color: #213343;
 }
 #footer>div:nth-child(1){
    justify-content: space-evenly;
    width: 60%;
    height: 69%;
    margin: auto;
    display: flex;
    color: white;
 }
 #footer>div>hr{
    opacity: 40%;
 }
 #footer>div>div:nth-child(2){
    margin-top: 65px;
 }
 .footerparts>p{
    font-weight: 600;
    line-height: 65px;
    opacity: 95%;
 }
 .footerparts>ul>li{
    list-style-type: none;
    font-size: 15px;
 }
 .footerparts ul>li>a{
    line-height: 35px;
    text-decoration: none;
    color: #b6c7d6;
    font-size: 0.75rem;
    font-weight: 600;
 }
 .footerparts ul>li>a:hover{
    color: teal;
    text-decoration: underline;
    transition: 1s;
 }
 #footer>div>div:nth-child(6)>p:nth-child(3){
    padding-top: 55px;
 }
 #footerbottom{
    width: 60%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
 }
 #footerbottom>div{
    color: #b6c7d6;
    width: 30%;
    text-align: center;
 }
 #footerbottom>div:nth-child(1){
    padding-top: 60px;
 }
 #footerbottom>div:nth-child(3){
    padding-top: 60px;
 }
 
 #footerbottom hr{
    opacity: 40%;
    width: 100%;
    color: white;
    font-size: 1px;
 }
 #footerbottom i{
    font-size: 28px;
    width: 45px;
 }
 #last{
    text-align: center;
    line-height: 30px;
 }
 #last>div{
    height: 15px;
    width: 14%;
    display: flex;
    margin: auto;
    justify-content: space-between;
    font-size: 15px;
    align-items: center;
 }
 #last>div>a{
    color: white;
    font-weight: 600;
 }
 #last>div>a:hover{
    text-decoration: none;
    color: teal;
    transition: 1s;
 }
 #last>p:nth-child(2){
    line-height: 35px;
    color: #b6c7d6;
    font-size: 0.75rem;
    font-weight: 600;
 }
 #last>p:nth-child(1){
    color: white;
    font-weight: 600;
    margin-top: 20px;
    font-size: 25px;
 }
 